In [2]:
import pandas as pd
import os

path = "C:/Users/KOQVIST1/architectural-tradeoff-analysis/Simulation data/April13/"
csv_files = [path + f for f in os.listdir(path) if f.endswith('.csv')]

# create an empty list to store the DataFrames
df_list = []

# loop over each csv file and read it into a DataFrame
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df_list.append(df)

# concatenate all DataFrames in the list
concatenated_df = pd.concat(df_list, sort=False)

# fill missing values with 0
concatenated_df = concatenated_df.fillna(0)

cols_to_move = ['latency', 'cost', 'reliability', 'scalability']

# get a list of all columns in the DataFrame
cols = list(concatenated_df.columns)

# remove the columns to move from the original list
for col in cols_to_move:
    cols.remove(col)

# reorder the columns so the ones to move are at the end
new_cols = cols + cols_to_move

# use loc to select the columns in the new order
new_df = concatenated_df.loc[:, new_cols]

dummies = pd.get_dummies(new_df['Topology']).astype(int)

# concatenate the original dataframe and the dummy variable columns
new_df = pd.concat([dummies, new_df], axis=1)

# drop the original 'Topology' column
new_df.drop(['Topology'], axis=1, inplace=True)

# export concatenated DataFrame to csv
new_df.to_csv(path + "combined.csv", index=False)

In [3]:
new_df

,1.1,1.2,1.3,1.4,2.1,2.2,3.0,car_cache,dynamo_stream,dynamo_ondemand,...,ec2_memorylevel,ec2_instances,kinesis_ondemand,kinesis_efos,kinesis_records,kinesis_peak,latency,cost,reliability,scalability
0,0,0,0,0,1,0,0,6,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,133.33060,32,-0.007206
1,0,0,0,0,1,0,0,4,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.066667e-06,142.49030,32,-0.001325
2,0,0,0,0,1,0,0,4,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.066667e-06,142.49030,32,-0.001325
3,0,0,0,0,1,0,0,5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.434670e-04,69.31070,32,-0.673937
4,0,0,0,0,1,0,0,2,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.200000e-07,170.36180,32,-0.004253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,0,0,0,1,0,0,0,4,0.0,0.0,...,0.0,0.0,0.0,0.0,800.0,0.3,0.000000e+00,891.31800,18,-0.900000
46,0,0,0,1,0,0,0,10,0.0,0.0,...,0.0,0.0,0.0,0.0,3350.0,0.9,0.000000e+00,13880.18510,18,-0.900000
47,0,0,0,1,0,0,0,5,0.0,0.0,...,0.0,0.0,1.0,1.0,1350.0,0.4,0.000000e+00,3.49487,18,-0.900019
48,0,0,0,1,0,0,0,7,0.0,0.0,...,0.0,0.0,0.0,0.0,6000.0,0.4,0.000000e+00,12745.75220,18,-0.900000
49,0,0,0,1,0,0,0,6,0.0,0.0,...,0.0,0.0,1.0,0.0,1050.0,0.9,0.000000e+00,2.88377,18,-0.900025

In [4]:
df.columns

Index(['Topology', 'lambda_parallel_instances', 'lambda_allocated_memory',
       'kinesis_ondemand', 'kinesis_efos', 'kinesis_records', 'kinesis_peak',
       'car_cache', 'latency', 'cost', 'reliability', 'scalability'],
      dtype='object')