In [13]:
import pandas as pd
import os

path = "C:/Users/KOQVIST1/architectural-tradeoff-analysis/Simulation data/test/"
csv_files = [path + f for f in os.listdir(path) if f.endswith('.csv')]

# create an empty list to store the DataFrames
df_list = []

# loop over each csv file and read it into a DataFrame
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df_list.append(df)

# concatenate all DataFrames in the list
concatenated_df = pd.concat(df_list, sort=False)

# fill missing values with 0
concatenated_df = concatenated_df.fillna(0)

cols_to_move = ['latency', 'cost', 'complexity', 'scalability']

# get a list of all columns in the DataFrame
cols = list(concatenated_df.columns)

# remove the columns to move from the original list
for col in cols_to_move:
    cols.remove(col)

# reorder the columns so the ones to move are at the end
new_cols = cols + cols_to_move

# use loc to select the columns in the new order
new_df = concatenated_df.loc[:, new_cols]

dummies = pd.get_dummies(new_df['Topology']).astype(int)

# concatenate the original dataframe and the dummy variable columns
new_df = pd.concat([dummies, new_df], axis=1)

# drop the original 'Topology' column
new_df.drop(['Topology'], axis=1, inplace=True)

# export concatenated DataFrame to csv
new_df.to_csv(path + "combined.csv", index=False)

In [ ]:
new_df

,1.1,1.2,1.3,1.4,2.1,2.2,3.0,car_cache,dynamo_stream,dynamo_ondemand,...,ec2_memorylevel,ec2_instances,kinesis_ondemand,kinesis_efos,kinesis_records,kinesis_peak,latency,cost,reliability,scalability
0,0,0,0,0,1,0,0,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.016000e-04,1.301900,0,4.919600e-05
1,0,0,0,0,1,0,0,2,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.605900e-04,1.867800,0,1.697900e-04
2,0,0,0,0,1,0,0,7,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.124600e-04,1.449000,0,1.316300e-04
3,0,0,0,0,1,0,0,4,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.608000e-04,0.940790,0,4.259400e-05
4,0,0,0,0,1,0,0,10,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,1.445100,0,1.310600e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,1,0,0,0,6,0.0,0.0,...,0.0,0.0,0.0,0.0,750.0,0.8,4.445330e-17,20.165500,0,-1.827810e-10
2996,0,0,0,1,0,0,0,9,0.0,0.0,...,0.0,0.0,0.0,0.0,5450.0,0.7,4.450638e-17,202.822500,0,-2.642956e-10
2997,0,0,0,1,0,0,0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,1050.0,0.5,0.000000e+00,7.786000,0,-1.007000e-11
2998,0,0,0,1,0,0,0,5,0.0,0.0,...,0.0,0.0,1.0,0.0,500.0,0.0,0.000000e+00,0.007681,0,-2.460300e-10
2999,0,0,0,1,0,0,0,2,0.0,0.0,...,0.0,0.0,1.0,1.0,8100.0,1.0,0.000000e+00,0.024848,0,-1.172900e-10

In [23]:
df.columns

3